<h2>Details</h2>

<div *ngIf="course">
    <h4>Course</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Number
        </dt>
        <dd>
            {{course.id}}
        </dd>
        <dt>
            Title
        </dt>
        <dd>
            {{course.title}}
        </dd>
        <dt>
            Credits
        </dt>
        <dd>
            {{course.credits}}
        </dd>
        <dt>
            Department
        </dt>
        <dd>
            {{course.department.name}}
        </dd>
    </dl>
</div>
<div *ngIf="course">
    <a [routerLink]="['/course/edit/', course.id]">Edit</a> |
    <a [routerLink]="['/course/']">Back to List</a>
</div>