<h2>Courses</h2>

<p><a [routerLink]="['/course/create']">Create New</a></p>

<table class="table" *ngIf="courses">
    <thead>
    <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Credits</th>
        <th>Department</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses">
        <td>{{course.id}}</td>
        <td>{{course.title}}</td>
        <td>{{course.credits}}</td>
        <td>{{course.department.name}}</td>
        <td>
            <a [routerLink]="['/course/edit/', course.id]">Edit</a> |
            <a [routerLink]="['/course/details/', course.id]">Details</a> |
            <a [routerLink]="['/course/delete/', course.id]">Delete</a>
        </td>
    </tr>
    </tbody>
</table> 