<h2>Departments</h2>


<p><a [routerLink]="['/department/create']">Create New</a></p>

<table class="table" *ngIf="departments">
    <thead>
    <tr>
        <th>Name</th>
        <th>Budget</th>
        <th>Start Date</th>
        <th>Administrator</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dep of departments">
        <td>{{dep.name}}</td>
        <td>{{dep.budget | currency:'USD':true}}</td>
        <td>{{dep.startDate | date:'yyyy-MM-dd'}}</td>
        <td>{{dep.administrator.last}}, {{dep.administrator.first}}</td>
        <td>
            <a [routerLink]="['/department/edit/', dep.id]">Edit</a> |
            <a [routerLink]="['/department/delete/', dep.id]">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

