<h2>Students</h2>

<p *ngIf="!students">Loading...</p>

<p><a [routerLink]="['/student/create']">Create New</a></p>

<div>
    <p>
        Find by name: <input #filter type="text" name="SearchString" [(ngModel)]="searchString">
        <input type="submit" value="Search" class="btn btn-default" (click)="getFilter()"> |
        <a [routerLink]="['/students']">Back to Full List</a>
    </p>
</div>

<table class="table" *ngIf="students">
    <thead>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Enrollmet Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students | paginate: { itemsPerPage: itemPerPage, currentPage: pageIndex, totalItems: total}">
        <td>{{student.last}}</td>
        <td>{{student.first}}</td>
        <td>{{student.enrollmentDate}}</td>
        <td>
            <a [routerLink]="['/student/edit/', student.id]">Edit</a> |
            <a [routerLink]="['/student/details/', student.id]">Details</a> |
            <a [routerLink]="['/student/delete/', student.id]">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<pagination-controls (pageChange)="getPage($event)"></pagination-controls>
