<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div *ngIf="dep">
    <h4>Department</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{dep.name}}</dd>
        <dt>Budget</dt>
        <dd>{{dep.budget | currency:'USD':true}}</dd>
        <dt>StartDate</dt>
        <dd>{{dep.startDate | date:'yyyy-MM-dd'}}</dd>
        <dt>Administrator</dt>
        <dd>{{dep.administrator.last}}, {{dep.administrator.first}}</dd>
    </dl>
    <input type="submit" class="btn btn-default" value="Delete" (click)="onSubmit()"> |
    <a [routerLink]="['/department']">Back to List</a>
</div>