<h2>Instructors</h2>


<p><a [routerLink]="['/instructor/create']">Create New</a></p>

<table class="table" *ngIf="instructors">
    <thead>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Hire Date</th>
        <th>Office</th>
        <th>Courses</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inst of instructors">
        <td>{{inst.last}}</td>
        <td>{{inst.first}}</td>
        <td>{{inst.hireDate}}</td>
        <td>{{inst.officeAssignment?.location}}</td>
        <td>
            <ng-container *ngFor="let course of inst.courseAssignments">

                {{course.course.id}} {{course.course.title}} <br/>
            </ng-container>
        </td>
        <td>
            <a (click)="isSelect(inst.id)">Select</a> |
            <a [routerLink]="['/instructor/edit/', inst.id]">Edit</a> |
            <a [routerLink]="['/instructor/delete/', inst.id]">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

