<p *ngIf="!student">Loading...</p>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div *ngIf="student">
    <h4>Student</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Last Name</dt>
        <dd>{{student.last}}</dd>
        <dt>First Name</dt>
        <dd>{{student.first}}</dd>
        <dt>Enrollment Date</dt>
        <dd>{{student.enrollmentDate}}</dd>
    </dl>
    <input type="submit" class="btn btn-default" value="Delete" (click)="onSubmit()"> |
    <a [routerLink]="['/student']">Back to List</a>
</div>