<h2>Create</h2>

<h4>Student</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form [formGroup]="studentForm" (ngSubmit)="onSave()" #formDir="ngForm" novalidate>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control" placeholder="First Name" formControlName="first">
                <div *ngIf="first.invalid && (first.touched || first.dirty)" class="text-danger">
                    <span *ngIf="first.hasError('required')">First Name is required.</span>
                    <span *ngIf="first.hasError('maxlength')">First name cannot be longer than 50 characters.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name"
                       formControlName="last">
                <span class="text-danger" *ngIf="last.invalid && last.touched">Last Name is required.</span>
            </div>
            <div class="form-group">
                <label class="control-label">Enrollment Date</label>
                <input type="date" class="form-control" formControlName="enrollmentDate">
                <span class="text-danger" *ngIf="enrollmentDate.invalid && enrollmentDate.touched">Enrollment Date is required.</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" [disabled]="studentForm.invalid"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a [routerLink]="['/student']">Back to List</a>
</div>
