<h2>Create</h2>

<h4>Department</h4>
<hr/>
<div class="row" *ngIf="instructors">
    <div class="col-md-4">
        <form [formGroup]="depForm" (ngSubmit)="onSave()" #formDir="ngForm" novalidate>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label class="control-label">Budget</label>
                <input type="text" class="form-control" formControlName="budget">
            </div>
            <div class="form-group">
                <label class="control-label">StartDate</label>
                <input type="date" class="form-control" formControlName="startDate">
            </div>
            <div class="form-group">
                <label class="control-label">Instructor</label>
                <select formControlName="instructorId" class="form-control">
                    <option value="-1">-- Select Instructor --</option>
                    <option *ngFor="let instructor of instructors" [value]="instructor.id">
                        {{instructor.last}},
                        {{instructor.first}}
                    </option>
                </select>
            </div>
            <div class=" form-group">
                <input type="submit" value="Create" class="btn btn-default" [disabled]="depForm.invalid"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a [routerLink]="['/department']">Back to List</a>
</div>
