<h2>Details</h2>

<div *ngIf="studentDetails">
    <h4>Student</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Last Name
        </dt>
        <dd>
            {{studentDetails.last}}
        </dd>
        <dt>
            First Name
        </dt>
        <dd>
            {{studentDetails.first}}
        </dd>
        <dt>
            Enrollment Date
        </dt>
        <dd>
            {{studentDetails.enrollmentDate}}
        </dd>
        <dt>
            Enrollments
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>

                <tr *ngFor="let item of studentDetails.enrollments">
                    <td>
                        {{item.course.title}}
                    </td>
                    <td>
                        {{item.grade}}
                    </td>
                </tr>
            </table>
        </dd>
    </dl>
</div>
<div *ngIf="studentDetails">
    <a [routerLink]="['/student/edit/', studentDetails.id]">Edit</a> |
    <a [routerLink]="['/student/']">Back to List</a>
</div>