<h2>Edit</h2>

<h4>Course</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form [formGroup]="courseForm" (ngSubmit)="onSave()" #formDir="ngForm" novalidate>
            <div class="form-group">
                <label class="control-label">Number</label>
                <input type="text" class="form-control" placeholder="Number" formControlName="id">
            </div>
            <div class="form-group">
                <label class="control-label">Title</label>
                <input type="text" class="form-control" placeholder="Title" formControlName="title">
            </div>
            <div class="form-group">
                <label class="control-label">Credits</label>
                <input type="text" class="form-control" formControlName="credits">
            </div>
            <div class="form-group">
                <label class="control-label">Department</label>
                <select formControlName="departmentID" class="form-control">
                    <option value="-1">-- Select Department --</option>
                    <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
                </select>
            </div>
            <div class=" form-group">
                <input type="submit" value="Save" class="btn btn-default" [disabled]="courseForm.invalid"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a [routerLink]="['/course']">Back to List</a>
</div>
