<nav class='navbar navbar-inverse navbar-fixed-top'>
    <div class="container">
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Contoso University</a>
        </div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">Home </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/student']">Students</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/course']">Courses</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/instructor']">Instructors</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/department']">Departments</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
