<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div *ngIf="course">
    <h4>Course</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Number</dt>
        <dd>{{course.id}}</dd>
        <dt>Title</dt>
        <dd>{{course.title}}</dd>
        <dt>Credits</dt>
        <dd>{{course.credits}}</dd>
        <dt>Department</dt>
        <dd>{{course.department.name}}</dd>
    </dl>
    <input type="submit" class="btn btn-default" value="Delete" (click)="onSubmit()"> |
    <a [routerLink]="['/course']">Back to List</a>
</div>